span{display:inline-block;margin:5px 2px;padding:3px 8px;color: #fff;}

.tag-input{margin: 15px;}
.tag-input:hover{border:1px solid #8BC9FF;outline: #8BC9FF solid 2px;padding: 2px; }
.tag-list span{background-color:  #8BC9FF;}
.tag-list span:hover{background-color: #FB0000;cursor: pointer;}


.hobby-input{}
.hobby-btn{background-color: #fff;border: 1px solid #ddd;border-radius: 3px;}
.hobby-list{}
.hobby-list span{background-color: #FDCD83;}





































